<div class="margin">
<%= form_for @product do |f| %>

    <div class="form-group">
       <%= f.label :Naam %>
       <%= f.text_field :name, class: "form-control", placeholder: ". . ." %>
    </div>

    <div class="form-group">
       <%= f.label :categorie, :class => "control-label" %>
       <div>
          <% category = Category.all.map{|t| [t.name, t.id]}.sort %>
          <%= f.collection_select :category_id, Category.order(:name),:id,:name, include_blank: false %>
       </div>
    </div>

    <div class="form-group">
       <%= f.label :foodgroup, :class => "control-label" %>
       <div>
          <% foodgroup = Foodgroup.all.map{|t| [t.name, t.id]}.sort %>
          <%= f.collection_select :foodgroup_id, Foodgroup.order(:name),:id,:name %>
       </div>
    </div>

    <%= f.submit (@product.new_record? ? "Voeg toe" : "Update"), class: "form-control btn-primary" %>

<% end %>
</div>
