<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nickeldiet</title>
  <link rel="apple-touch-icon" href="/chad-2-2.png" />
  <%= favicon_link_tag 'chad-2-2.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
  <%= render "layouts/nav" %>

  <%= yield %>
</div>

</body>
</html>
